body {
    margin: 0 auto;
    background-color: #f7f7f7;
}
.header {
    background: url(../images/Rectangle\ 3.png);
    background-repeat: no-repeat;
    display: flex;
    max-width: 1920px;
    min-height: 836px;
    height: 100%;
    margin: 38px auto;
    overflow: hidden;
}
.container {
     background-color:rgba(34, 34, 34, 0.64);
     background-repeat: no-repeat;
     min-height: 820px;
     height: 100%;
     margin: 0 auto;
}
.contacts {
    position: absolute;
    top: 0;
    left: 0;
    background: #010101;
    max-height: 52px;
    height: 100%;
    max-width: 1920px;
    width: 100%;
    min-height: 52px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    white-space: none;
}
.phone {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #fff;
    text-decoration: none;
    max-width: 162px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-left: 300px;
}
.phone img {
    margin-right: 8px;
}
.email-to {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-right: 863px;
}
.email-to img {
    margin-right: 8px;
}
.calling-to {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #4f8ff0;
    text-decoration: none;
    margin-right: 300px;
    white-space: nowrap;
}
.company {
    /* position: relative;
    top: 0px;
    left: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    min-height: 112px;
    background: rgba(1, 1, 1, 0.76);
    margin: 0;
    margin-top: 14px;
}
.header-row {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    max-height: 62px;
    margin: 22px 329px 28px 300px;
    padding: 1px;
}
.law {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 150%;
    text-transform: uppercase;
    color: #4f8ff0;
    margin-bottom: 0;
    padding: 0;
    max-height: 42px;
}
.law-comp {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 150%;
    text-transform: lowercase;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    margin-top: -5px;
    padding: 0;
    margin-left: -20px;
}
.menu {
    max-width: 679px;
    width: 100%;
    margin-right: 300px;
}
.menu-row {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    /* margin-right: 300px; */
}
.menu-item {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    list-style: none;
    text-decoration: none;
    white-space: nowrap;
    max-width: 106px;
}
.menu-item:hover {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #4f8ff0;
}
.services {
    display: flex; 
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1090px;
    max-height: 193px;
    height: 100%;
    margin: 150px 415px 289px 415px;
    gap: 8px;
}
.services-item {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    max-height: 45px;
    margin: 0 auto;
    /* padding: 5px 0; */
}

span {
    display: block;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 150%;
    text-transform: uppercase;
    color: #4f8ff0;
    max-height: 84px;
    height: 100%;
    text-align: center;
    padding: 10px 0;
}
.text-item {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #fff; 
    margin-top: 90px;
}
.service-row {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-decoration: none;
    max-width: 158px;
    width: 100%;
    min-height: 49px;
    background-color:  #4f8ff0;
    display: flex;
    justify-content: center;
   align-items: center;
   margin-left: 5px;
}
.icons {
    max-width: 1320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.icon-item {
    margin-left: 7px;
    margin-right: 1222.97px;
}
.container-row {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
}
.services-item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 920px;
    max-height: 117px;

}
.servises-item-title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 150%;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 10px;
}
hr {
    border: 3px solid #4f8ff0;
    width: 50px;
}
.servises-item-desc {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #222;
    display: flex;
    margin: 24px;
    min-width: 920px;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 48px;
}
.adventages {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 48px auto;
    padding: 0;
}
.adventages-item {
    display: flex; 
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    max-height: 538px;
    margin: 48px auto;
    gap: 24px;
    padding: 0;
}
.adventages-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 424px;
    width: 100%;
    min-height: 250px;
    height: 100%;
    background: #fff;
    padding: 15px 32px 59px 32px;
    box-sizing: border-box;
}
.adventages-row-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 412px;
    width: 100%;
    min-height: 250px;
    height: 250px;
    background: #fff;
    padding: 15px 32px 59px 32px;
    box-sizing: border-box;
}
.adventages-item-container:hover,
.adventages-row-container:hover {
    max-width: 424px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    box-sizing: border-box;
    /* border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    width: 35px;
    height: 35px;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    width: 35px;
    height: 35px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    width: 35px;
    height: 35px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 35px; */
    height: 35px;
    background: #4f8ff0;
    /* color: #fff; */
}

.adventages-item-icon {
    margin-top: 50px;
    box-sizing: border-box;
}
.adventages-item-icon:hover {
    max-width: 424px;
    max-height: 250px;
    color: #fff;
    background: #4f8ff0;
    margin: 20px 32px 20px 20px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}
.adventages-item-icon imgs :hover {
    color: #fff;
}
.adventages-item-title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #222;
    white-space: nowrap;
}
.adventages-item-desc {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #222;
}
.all-services {
    background: #4f8ff0;
    border: 2px solid #4f8ff0;
    padding: 16px 24px;
    max-width: 138px;
    width: 100%;
    max-height: 49px;
    white-space: nowrap;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 896px 88px 886px;
    box-sizing: border-box;
}