body {
    margin: 0 auto;
    background-color: #f7f7f7;
    font-family: "Nunito Sans", sans-serif;
}
.header {
    background: url(../images/Rectangle\ 3.png);
    background-repeat: no-repeat;
    display: flex;
    max-width: 1920px;
    width: 100%;
    min-height: 854px;
    height: 100%;
    margin: 38px auto 24px;
    background-color: #fff;
}
.container {
    display: flex;
    flex-direction: column;
    background-color:rgba(34, 34, 34, 0.64);
    background-repeat: no-repeat;
    max-width: 1920px;
    width: 100%;
    min-height: 820px;
    height: 100%;
    margin: 0;
}
.contacts {
    position: absolute;
    top: 0;
    left: 0;
    background: #010101;
    max-width: 1920px;
    width: 100%;
    min-height: 52px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 16px 300px;
    box-sizing: border-box;
    white-space: none;
}
.phone {
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #fff;
    text-decoration: none;
    max-width: 162px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.phone img {
    padding-right: 8px;
}
.email-to {
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-right: 863px;
}
.email-to img {
    margin-right: 8px;
}
.calling-to {
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #4f8ff0;
    text-decoration: none;
    white-space: nowrap;
}
.company {
    display: flex;
    align-items: center;
    max-width: 1920px;
    max-height: 112px;
    height: 100%;
    background: rgba(1, 1, 1, 0.76);
    margin: 0;
    gap: 329px;
    padding: 22px 300px 28px;
}
.header-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 62px;
    margin: 0;
}
.law {
    font-weight: 900;
    font-size: 28px;
    line-height: 150%;
    text-transform: uppercase;
    color: #4f8ff0;
    margin-bottom: 0;
    padding: 0;
    max-height: 42px;
    margin: 0;
}
.law-comp {
    font-weight: 900;
    font-size: 20px;
    line-height: 150%;
    text-transform: lowercase;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}
.menu {
    max-width: 679px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.menu-row {
    max-width: 679px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 0;
}
.menu-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    list-style: none;
    text-decoration: none;
    white-space: nowrap;
    max-width: 123px;
}
.menu-item:hover {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #4f8ff0;
}
.services {
    display: flex; 
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1090px;
    max-height: 193px;
    height: 100%;
    gap: 8px;
    margin: 0 auto;
    padding: 156px 410px 289px 420px;
}
.services-item-row {
    font-weight: 300;
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    max-height: 45px;
    margin: 0 auto;
}
span {
    display: block;
    font-weight: 600;
    font-size: 56px;
    line-height: 150%;
    text-transform: uppercase;
    color: #4f8ff0;
    max-height: 84px;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}
.text-item {
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #fff; 
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
}
.service-row {
    /* font-family: "Nunito Sans", sans-serif; */
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-decoration: none;
    max-width: 158px;
    width: 100%;
    min-height: 49px;
    background-color:  #4f8ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.services>.service-row:hover {
    background-color: #fff;
    border: 1px solid #4f8ff0;
    color: #4f8ff0;
}
.icons {
    max-width: 1320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.icon-item {
    margin-left: 7px;
    margin-right: 1222.97px;
}
.container-row {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 72px;
}
.services-item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 920px;
    max-height: 117px;
    margin-bottom: 48px;

}
.servises-item-title {
    /* font-family: "Nunito Sans", sans-serif; */
    font-weight: 800;
    font-size: 28px;
    line-height: 150%;
    text-transform: uppercase;
    color: #222;
    margin: 0;
    margin-bottom: 10px;
}
hr {
    width: 50px;
    min-height: 3px;
    background: #4f8ff0;
    border: 1px solid #4f8ff0;
    box-sizing: border-box;
    margin: 0 auto;
}
.servises-item-desc {
    font-size: 16px;
    text-transform: none;
    line-height: 120%;
    text-align: center;
    color: #222;
    display: flex;
    min-width: 920px;
    width: 100%;
    margin: 0;
    padding-top: 24px;
    margin-bottom: 48px;
}
.adventages {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
     margin-bottom: 48px;
}
.adventages-item {
    display: flex; 
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    max-height: 538px;
    gap: 24px;
    padding: 0;
    margin: 0 auto;
}
.adventages-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 424px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    background: #fff;
    padding: 15px 32px 59px 32px;
    box-sizing: border-box;
}
.adventages-row-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 412px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    background: #fff;
    padding: 15px 32px 59px 32px;
    box-sizing: border-box;
}
.adventages-item-container:hover,
.adventages-row-container:hover {
    max-width: 424px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    box-sizing: border-box;
    background-color: #4f8ff0;
    color: #fff;
    padding: 15px 32px 59px 32px;
}

.adventages-item-icon {
    margin-top: 50px;
    box-sizing: border-box;
}
.adventages-item-container:hover > .adventages-item-icon {
     background-color: #4f8ff0;
    min-width: 372px;
    width: 100%;
    max-height: 210px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}
.adventages-row-container:hover > .adventages-item-icon {
    background-color: #4f8ff0;
    min-width: 372px;
    width: 100%;
    max-height: 210px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    /* padding-left: 12px; */
}
.adventages-item-container:hover > .adventages-item-icon > svg path {
    padding-top: 50px;
    width: 35px;
    height: 35px;
    fill: #fff;
}
.adventages-row-container:hover > .adventages-item-icon > svg path {
    padding-top: 50px;
    width: 35px;
    height: 35px;
    fill: #fff;
}
.adventages-item-container:hover > .adventages-item-icon > .adventages-item-title {
    color: #fff;
}
.adventages-row-container:hover > .adventages-item-icon > .adventages-item-title {
    color: #fff;
} 
.adventages-item-container:hover > .adventages-item-icon > .adventages-item-desc {
    color: #fff;
    /* font-family: "Nunito Sans", sans-serif; */
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #fff;
}
.adventages-row-container:hover > .adventages-item-icon > .adventages-item-desc {
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #fff;
}
.adventages-item-title {
    /* font-family: "Nunito Sans", sans-serif; */
    font-weight: 800;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #222;
    white-space: nowrap;
}
.adventages-item-desc {
    /* font-family: "Nunito Sans", sans-serif; */
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #222;
}
.all-services {
    background: #4f8ff0;
    border: 2px solid #4f8ff0;
    padding: 16px 24px;
    max-width: 138px;
    max-height: 49px;
    white-space: nowrap;
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 88px;
    box-sizing: border-box;
}
.all-services:hover {
    background-color: #fff;
    border: 1px solid #4f8ff0;
    color: #4f8ff0;
}
.box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    gap: 64px;
    margin: 0 auto;
    padding: 76px 304px 76px 297px;
}
.box-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1319px;
    width: 100%;
    max-height: 576px;
    height: 100%;
    margin: 0;
}
.box-row-title {
    margin: 0;
}
.box-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: -2px;
    color: #222;
    max-width: 692px;
    width: 100%;
    max-height: 42px;
    white-space: nowrap;
    margin: 0;
    padding-bottom: 10px;
}
.first-row {
    display: flex;
    justify-content: baseline;
    text-align: left;
    margin: 0;
}
.box-title a {
    font-weight: 900;
    color: #4f8ff0;
    text-decoration: none;
    cursor: pointer;
}
.box-row-desc {
    padding: 24px 0 32px;
    box-sizing: border-box;
}
.box-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #222;
    max-width: 720px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}
.links {
    display: flex;
    gap: 24px;
    margin: 0;
}
.link-item {
    max-width: 210px;
    width: 100%;
    max-height: 49px;
    height: 100%;
    border: 2px solid #4f8ff0;
    padding: 16px 24px;
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: #4f8ff0;
    text-decoration: none;
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-item:hover {
    background-color: #fff;
    border: 1px solid #4f8ff0;
    color: #4f8ff0;
}
.link-row {
    max-width: 161px;
    max-height: 49px;
    text-decoration: none;
    border: 2px solid #e6e6e6;
    padding: 16px 24px;
    box-sizing: border-box;
    background: #e6e6e6;
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-row:hover {
    background: #b4b4b4;
    border: 1px solid #000000;
    color: #000;
}
.box-item {
    max-width: 535px;
    width: 100%;
    max-height: 359px;
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    min-height: 739px;
    height: 100%;
    margin: 0 auto;
    padding: 80px 300px;
    box-sizing: border-box;
}
.wrapper-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.wrapper-item-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}
.wrapper-item-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 150%;
    text-transform: uppercase;
    color: #222;
    padding-bottom: 13px;
    box-sizing: border-box;
    margin: 0;
}
 .wrapper-item-text {
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #222;
    max-width: 920px;
    box-sizing: border-box;
    margin: 0;
    padding: 24px 0 48px;
 }
 .wrapper-item-desc {
    max-width: 312px;
    width: 100%;
    min-height: 414px;
    box-shadow: 2px 2px 12px 0 rgba(33, 33, 33, 0.12);
    background: #fff;
    padding: 0px 0px 24px;
    box-sizing: border-box;
 }
 .img-item {
    max-width: 312px;
    width: 100%;
    max-height: 320px;
    height: 100%;
    margin-bottom: 24px;
 }
 .name-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #222;
    margin-bottom: 10px;
 }
 .text-item-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    text-transform: lowercase;
    text-align: center;
    color: #222;
 }
 .wrapper-box {
    background: url(../images/1.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 588px;
    height: 100%;
    margin-bottom: 80px;
 }
 .block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
 }
 .block-row {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .block-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 150%;
    text-transform: uppercase;
    color: #222;
    margin: 0;
    margin-bottom: 48px;
 }
 .icon-row {
    max-width: 70px;
    height: 100%;
    max-height: 29px;
    height: 100%;
 }
  .wrapper-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
 }
 .wrapper-desc-block {
    display: flex;
    flex-direction: column;
    max-width: 648px;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 rgba(33, 33, 33, 0.15);
    background: #fff;
    margin-bottom: 32px;
 }
 .wrapper-box-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .block-item {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
    padding-right: 199px;
    box-sizing: border-box;
 }
 .company-box {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: #222;
    margin: 0;
 }
 .title-box{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #222;
    margin: 0;
    white-space: nowrap;
 }
 .wrapper-box-row {
    font-size: 14px;
    line-height: 150%;
    color: #222;
 }
 .block-link {
    display: flex;
    font-weight: 900;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    gap: 24px;
 }
 .link-1 {
    text-align: center;
    color: #fff;
    background: #4f8ff0;
    border: 2px solid #4f8ff0;
    text-decoration: none;
    padding: 16px 24px;
    max-width: 146px;
    width: 100%;
    max-height: 49px;
    height: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
    font-weight: -2px;
 }
 .link-2 {
    text-align: center;
    color: #222;
    border: 2px solid #e6e6e6;
    padding: 16px 24px;
    max-width: 185px;
    width: 100%;
    max-height: 49px;
    height: 100%;
    background: #e6e6e6;
    text-decoration: none;
    box-sizing: border-box; 
    white-space: nowrap;
    display: flex;
 }